*{
    background-color: bisque;
}
div{

   font-size: 25px;
     /* margin:400px; */
    
   
}
.grid{
    display: grid;
    grid-template-columns: auto auto  auto  auto   auto  auto   ;
}
kbd{
      
    border: 10px solid rgb(8, 7, 7);

 margin-top:400px;
 margin-left: 80px;
    width: 50%;
text-align: center;
    padding: 10px;

}